@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "../shared/components/UI/Header.scss";
@import "../pages/MainPage/MainPage.scss";
@import "../pages/AboutPage/AboutPage.scss";
@import "../shared/components/Pagination.scss";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
