.watchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: "Arial", sans-serif;
}

.watch {
  background-color: #282c34;
  color: #61dafb;
  padding: 20px;
  border-radius: 10px;
  font-size: 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .watch {
    font-size: 2rem;
    padding: 15px;
  }
}
